@font-face {
  font-family: 'ubuntu';
  src:  url('./assets/ubuntu.ttf') format('truetype')
        url('./assets/ubuntu-bold.ttf') format('truetype')
}


:root {
  font-family: ubuntu, system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: black;

  --sm-breakpoint: 450px;
  --md-breakpoint: 600px;
  --lg-breakpoint: 900px;
  --xl-breakpoint: 1280px;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  
  background-color: black;
}


.container {
  /* display: flex; */
  /* flex-direction: column; */
}

.view {
  width: 100%;
  min-height: 100vh;
  display: flex;
  border: 2px solid red;
  overflow: hidden;
  font-size: 1.5em; 
  
  @media (width < 900px) {
    font-size: 1.25em;
  }

  &_container {
    margin: 0 auto;
    width: 100%;
    max-width: var(--xl-breakpoint);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    border: 2px solid white;
  }

  &_section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  .contacts {
    padding-top: 32px;
    padding-bottom: 16px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
  }
  
  .contacts_visible {
    opacity: 1;
    animation: appear 500ms ease-in-out;
    pointer-events: all;
    transform: translateY(0);
  }
  
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    transition: background-color 150ms;
  }
  
  .contact:hover {
    background-color: rgba(255,255,255,0.1);
  }
  
  .contact:focus {
    outline: none;
    background-color: rgba(255,255,255,0.1);
  }
  
  .contact_icon {
    margin-right: 12px;
  }
  
}

.skills {
  &_left {
    @media (width < 900px) {
      display: none;
    }
  }

  &_right {
    @media (width < 900px) {
      justify-content: center;
      width: 100%;
    }
  }

  &_list {
    padding: 24px 48px;
    
    @media (width < 900px) {
      padding: 24px 16px 24px 32px; 
    }

    &_item {
      padding-bottom: 16px;
    }
  }

}

.about {
  position: relative;

  &_left {
    @media (width < 900px) {
      justify-content: center;
      width: 100%;
    }
  }

  &_me {
    text-align: right;
    padding: 24px 48px; 

    @media (width < 900px) {
      padding: 24px 16px; 
    }
  }

  &_right {
    @media (width < 900px) {
      display: none;
    }
  }

  &_image {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50vw;
    height: 100%;
    background-image: url("./assets/me.webp");
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 10px 0px 10px 5px #000;
    
    @media (width < 900px) {
      display: none;
    }
  }
}


@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
