@font-face {
  font-family: 'ubuntu';
  src:  url('./assets/ubuntu.ttf') format('truetype')
        url('./assets/ubuntu-bold.ttf') format('truetype')
}


:root {
  font-family: ubuntu, system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: black;

  /* --spacing: 8px; */
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  
  background-color: black;
}


.container {
  /* display: flex; */
  /* flex-direction: column; */
}

.view {
  width: 100%;
  min-height: 100vh;
  /* border: 2px solid red; */
  overflow: hidden;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo {
  /* border: 2px solid red */
  /* max-width: 500px;
  margin: 0 auto; */
}

.contacts {
  padding-top: 32px;
  padding-bottom: 16px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}

.contacts_visible {
  opacity: 1;
  animation: appear 500ms ease-in-out;
  pointer-events: all;
  transform: translateY(0);
}
 
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact {
  
  /* visibility: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  padding: 8px 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  transition: background-color 150ms;
}

.contact:hover {
  background-color: rgba(255,255,255,0.1);
}

.contact:focus {
  outline: none;
  background-color: rgba(255,255,255,0.1);
}

.contact_icon {
  margin-right: 12px;
}
