@font-face {
  font-family: 'ubuntu';
  src:  url('./assets/ubuntu.ttf') format('truetype')
        url('./assets/ubuntu-bold.ttf') format('truetype')
}

:root {
  font-family: ubuntu, system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  color: white;
}


#logo {
  border: 2px solid red
}

.grid {
  width: 200vw;
  height: 400vh;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  display: flex;
  transition-property: top, left;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.view {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red
}

.view_home {
  top: 0;
  /* bottom: 100vh; */
  left: 0;
  /* right: 100vw; */
}

.view_contacts {
  top: 100vh;
  left: 100vw;
}

.view_skills {
  top: 200vh;

  left: 0;
  overflow-y: auto;
}

.view_about {
  top: 300vh;
  left: 100vw;
}

.skill_container {
  border: 2px solid rgb(85, 123, 23);
  /* display: block; */
  height: 5000px;
  /* min-height: 100vh; */
  
  /* padding: 64px 0; */
  width: 100%;
  max-width: 960px;
}

.skill_grid {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 16px 190px auto 16px;
  margin: 0 auto;
  margin-bottom: 32px;
  grid-template-areas: 
            "term company company"
            ". position position"
            ". description description";

  .term {
    font-size: 1.2em;
    grid-area: term;
    display: flex;
    align-items: center;
  }
  
  .company {
    grid-area: company;
    display: flex;
    align-items: center;
  }

  .position {
    grid-area: position;
    display: flex;
    align-items: center;
    font-weight: 700;
  }

  .description {
    grid-area: description;
  }

  .company_link {
    font-size: 1.5em;
    color: inherit;
    text-decoration: none;
  }

  .job_overview {
    margin-bottom: 0;
  }
}
